*
{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;

}
body{
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

header h1
{

	font-family: 'Dancing Script', cursive;
	color:wheat;
}

#navigation
{
	margin-top: 85px;
	
}
.row
{
	width: 100%;
}
#navigation a
{
	color: white;

}
#logo
{
	height: 200px;
	width: 200px;
}
/*welcome carousel */
#welcome
{
	text-align: left;
	width: 40%;
	float: left;
	margin-bottom: 10%;
	margin-right: 30%;
	animation-timing-function: ease-out;
	animation-name: welcome;
	animation-duration: 1.5s;

}

@keyframes welcome{
	from {
		left: 0px;
	}
	to
	{
		right: 20px;
	}
}
#welcome-text
{
	font-family: 'Dancing Script', cursive;
	font-weight: bold;
	font-size: 60px;
	/*color: #b37924;*/
	color: wheat;
}
 .carousel img
{
	height: 650px;
}
@media(max-width: 722px)
{
	#welcome{
		width: 70%;
		height: 100%;
		margin-top: 2em;
		margin-bottom: 0%;

		
	}
	#welcome .btn
	{
			margin-top: 2%;
			width: 80%;
	}
	#welcome-text
	{
		font-size: 40px;
		color: wheat;
		margin-top: 20%;
	}
	#welcome p
	{
		font-size: 20px;
	}
	footer ul li
	{
		float: left;
		margin-left: -4%;
		
	}
	
	
}
.btn
{
	background-color: #b37924;
	border: none;
	  transition: transform .2s;
	  margin-right: 2%;
}
.btn:hover
{
	transform: scale(1.1);
}
.icons
{

	background-color: rgba(94, 54, 9, 0.808);
	color: white;
	border-bottom: 3px #5c3613 solid;
	border-top: 3px #5c3613 solid;
	height: 30%;
	padding-bottom:50px ;
}
.icons span
{
	margin-top: 200px;

}
.icons img
{
	border: white 3px solid;
	padding: 20px;
	margin-top: 100px;

}
#menu-section
{
	background-color:#31291c;
}
#menuid
{
	margin-top: 100px;

}
#menuid h1
{
		font-family: 'Dancing Script', cursive;
		font-weight: bold;
		color: saddlebrown;
}
 #menu-img
 {
 	margin-left: 35px;
 	border-top-left-radius: 400px;
 	 border-bottom-left-radius: -400px;
 	 
 }
 #service-header
 {
	 margin-top: -100px;
	 margin-left: 100px;
	  background-color:#131211;
	 opacity: 0.8;
	 width: 600px;
	 height: 400px;
	
	
 }

 #service-header h1{
	color: #b37924;
	font-family: 'Dancing Script', cursive;
   font-weight: bold;
   }
 #service
 {
	 background-color:#413626;
 }
 #div-img1, #div-img2
 {
	 margin-top: 50px;
	 margin-right: -80px;
 }
 #div-img3
 {
	 margin-left: 900px;
	 margin-top: -150px;
	 
 }
 #div-img2
 {
	 z-index: 2;
	 opacity:0.6;
 }
 #pre-footer
 {
	 background-color: rgba(94, 54, 9, 0.808);
	 
 }
 .pre-footer-content
 {
	 margin-top: 70px;
	 color: white;
	 /* padding-left: 100px; */
 }
 

footer
{
	height: 200px;
	background-color: rgba(94, 54, 9, 0.808);
	
}
footer ul li
{
	margin-top: 90px;
}
footer p a span
{
	float: right;
	margin-right: 20px;
	font-size: 25px;
}
.navbar-nav li a
{
	margin-right: 20px;
}
#menu
{
	background-color: rgb(199, 148, 66);
	box-shadow: 5px 5px 8px black;
}

@media(max-width:567px)
{
	#menuid >p
	{
		 font-size: 90%; 
		 text-align: center;
		 margin-left: 5%;
	}
	#menuid >btn
	{
		width: 100%;
	}
}
@media(min-width:992px) and (max-width:1400px )
{
	#service-header
	{
		margin-top: -2%;
	}

}
@media(min-width:992px) and (max-width:1123px)
{
	#div-img1, #div-img2, #div-img3{
		display: none;
	}
}
/* --------------MENU--------------- */
/* #menu-carousel
{
	height: 800px;
	filter: blur(2px);
} */
#menu-icon
{
	margin-top: -300px;
	margin-right: 100px;
	height: 280px;
	width: 280px;

}
#menu-heading{
	margin-bottom: 200px;
	margin-right: 8%;
	font-family: 'Cuprum', sans-serif;
	font-size:47px;
	letter-spacing: 6px;
	padding-bottom: 20px;
	position: relative;


}
#menu-carousel
{
	background-image: url("https://media.istockphoto.com/photos/falling-roasted-coffee-beans-on-brown-background-picture-id1328567022?b=1&k=20&m=1328567022&s=170667a&w=0&h=Ih9PSrM0oZmeD9y3EnUbn0ygD9Tk9oAuZaUIr5pydvc=");
	z-index: 2;

	/* Set a specific height */
	min-height: 800px; 
  
	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
#menu-content
{
	font-family: 'Cuprum', sans-serif;
	font-size: 24px;
	letter-spacing: 1px;
	/* margin-top: -180px; */

	position: absolute;
	bottom: 50%;
	left:32%;
}
/* media query for menu carousel */
@media(max-width:1400px) and (min-width:390px)
{

	#menu-icon{
		margin-left: 15%;
	}
 	#menu-heading
	{
		margin-left: 12%;
	}
	#menu-content
	{
		position: absolute;
		left: 28%;
	} 
}

.food-categories{
	background-color: rgba(94, 54, 9, 0.808);
	color: white;
}

.food-categories a{
	text-decoration: none;
	color: black;
}
.food-categories .addition{
	height: 30px;
	margin-left: 49%;
}

.container-fluid .food-img{
	height: 200px;
	width: 250px;
	padding:20px 10px 10px 20px;
	margin-left: 60px;
}
@media(min-width:992px) and (max-width:1350px)
{
.container-fluid p{
	overflow:hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
}
@media(max-width:748px)
{
	.container-fluid p{
		overflow:hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}	
}

.addition.active{
	transform: rotate(45deg);
	transition: .5s ease;
}
.addition.deactive{
	transform: rotate(0deg);
	transition: .5s ease;
}

/* ORDER PAGE */
#order{
	background-image: url("https://media.istockphoto.com/photos/falling-roasted-coffee-beans-on-brown-background-picture-id1328567022?b=1&k=20&m=1328567022&s=170667a&w=0&h=Ih9PSrM0oZmeD9y3EnUbn0ygD9Tk9oAuZaUIr5pydvc=");
	min-height: 500px;
	background-repeat: no-repeat ;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	color: white;
	font-family: 'Cuprum', sans-serif;
	
}
#contact{
	min-height: 500px;
}
#contact img{
	height: 500px;

}
#contact #content{
	padding: 200px;
	background-color: #b37924;
	transform: rotate(-24deg);
	z-index: -1;
	position: relative;
}
#contact #text{
	position: absolute;
	bottom: 200px;
	left: 180px;
	transform: rotate(24deg);
}
#contact img{
	
	width: 450px;
	height: 450px;
}
.contact-info-1{
	background-color: #b37924;
	
	color: black;
	/* text-align: center; */
	padding: 60px;
}
.contact-info-1 label, .contact-info-1 input, .contact-info-1 textarea{
	margin-left: 30px;
	
}
.contact-info-1 input, .contact-info-1 textarea{
	width: 534px;
	padding: 10px;
	font-size: 20px;
	border-radius: 5px;
	outline: none;
	border: 0;
	
}
.contact-info-1 label{
	font-size: 20px;
	font-weight: bold;
}
.contact-info-1 button{
	font-size: 16px;
	margin-left: 250px;
	margin-top: 10px;
	width: 140px;
	height: 40px;
	padding: 2px;
	border: 0;
	background-color: #131211;
	color: white;
	border-radius: 5px;
}

.contact-info-2{
	padding: 90px;
}
.contact-info-2 a{
	margin-right: 3px;
	
}
.contact-info-2 span{
	font-size: 40px;
}


@media(max-width:1317px)
{

	
	.contact-info-1 input, .contact-info-1 textarea{
		width: 100%;
		margin-left:-2%
	}
	.contact-info-1 button{
		margin-left: 33%;
	}
	
}

@media(max-width:1349px)
{
	#content #text
	{
		position: absolute;
		top:40%;
		left: 25%;
	}
}




